#container {
    position: relative;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: 50px auto;
  }

  .info-game {
    text-align: center;
  }

  .container-again {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .playagain {
  padding: 10px;
  background: linear-gradient(90deg, #FFE27D 0%, #64E3FF 30%, #9192FF 85%);
  background-size: 200% 100%;
  border: none;
	border-radius: 6px;
  box-shadow: -2px -2px 10px rgba(255, 227, 126, 0.5), 2px 2px 10px rgba(144, 148, 255, 0.5);
  color: #170F1E;
  cursor: pointer;
	font-family: 'Inter', sans-serif;
  display: none;
  }
  
  #egg1 {
    position: absolute;
    width: 100px;
    height: 120px;
    bottom: 0;
    left: 200px;
    animation: bubble 1s ease-out forwards;
  } 

  #egg {
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 120px;
    bottom: 0;
    left: 200px;
    animation: bubble 1s ease-out forwards;
  }
  
  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(3);
    }
    100% {
      transform: scale(1);
    }
  }

  .option-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
  }

  .option-container .button {
    width: 100px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f1f1f1;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  .button:hover {
    background-color: #ddd;
  }

  @keyframes disappear {
    0% {
  opacity: 1;
  background-color: white;
  border-radius: 50% 50% 60% 60%;
  box-shadow: inset -10px -10px 20px rgba(255,255,255,0.5),
          inset 10px 10px 20px rgba(0,0,0,0.1),
          5px 5px 15px rgba(0,0,0,0.2);
  position: relative;
  top: 50%;
  left: 50%;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes shake {
    0% {
      transform:rotate(0deg);
    }
    25% {
      transform:rotate(-5deg);
    }
    50% {
      transform:rotate(0deg);
    }
    75% {
      transform:rotate(5deg);
    }
    100% {
      transform:rotate(0deg) scale(0);
    }
  }

  @keyframes fall {
    from { top: 0; }
    to { top: calc(100% - 50px); }
  }